<!DOCTYPE html>
<html>
<head>
    <title>2조 프로젝트</title>
</head>
<style>
    #upload_container{
        margin: auto;
        margin-top: 40px;
        width: 1400px;
        height: 800px;
        background-color: rgb(255,255,255, 0.85);
        display: flex;
        justify-content: center;    
        align-items: center;
        border-radius: 20px;
    }
    #upload{
        width: 300px;
        height: 300px;
        
       
    }
    body {
        background-image: url('static/background.png');
      }
</style>

<script>
if( 'False'== '{{flag}}' ){
    alert("파일을 업로드 하셨나요?");
}

</script>

<body>
    <div id='upload_container'>
        <form action = "http://112.175.29.231:5002/list" method = "POST" enctype = "multipart/form-data">
            <table>
            <tr>
                <td>
            <label for="upload_button">
                <img id = 'upload' src="static/upload.png" alt="업로드" style="cursor: pointer;">
            </label>
            <input type="file" id="upload_button" name="fileInput" style="display: none;">
        </td>
        <td>
            <input type='submit' style="border-radius: 10px; width:100px; height:80px; background-color: rgb(255,255,255); " value = '확인' onClick='alert("잠시만 기다려주세요")'>
        </td>    
        </tr>
            </table>
        </form>
    </div>
    
</body>
</html>